@import "tailwindcss";

:root {
  --color-bg: #101214;
  --color-surface: #161A1D;
  --color-muted-surface: #1D2125;
  --color-border: #2C333A;
  --color-text-secondary: #596773;
  --color-text-primary: #C7D1DB;
  --color-heading: #DEE4EA;
  --color-bg-2: #C7D1DB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
